<footer class="footer">
  <div class="container">
    <!-- Я проверил защиту ветви main от случайного пуша. У Вас правило работает, т.к. выскакивает ошибка как на видео. На своем репозитории https://github.com/DevScriber/algorhythm тоже применил аналогичные правила по защите ветви main. Но правило не работает, т.к. я свободно осуществляю пуш и ошибка не вылетает. Я так же создал доп. правило Lock branch.  Branch is read-only. Users cannot push to the branch. Но безрезультатно. Думаю что это происходит из-за того что я обладаю правами администратора. Иначе не знаю в чем ошибка. Copilot не помог =-( -->
  </div>
</footer>
